:root {
  --color-white:     #FFFFFF;
  --color-gray:      #D9D8D8;
  --color-dark-gray: #686868;
  --color-red:       #E00000;
  --color-blue:      #00B4FF;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-dark-gray);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.icon {
  height: 100%;
  width: auto;
  background-color: var(--color-dark-gray);
}

.thumb-icon {
  -webkit-mask: url(images/thumb.svg) no-repeat center;
  mask: url(images/thumb.svg) no-repeat center;
  animation: likeIcon 6s forwards;
}

.bell-icon {
  -webkit-mask: url(images/sound.svg) no-repeat center;
  mask: url(images/sound.svg) no-repeat center;
  animation: bellIcon 6s forwards;
}

.cursor {
  position: absolute;
  width: 25px;
  height: auto;
  top: -1000px;
  left: -1000px;
  animation: moveCursor 6s forwards;
  z-index: 100;
}

.container,
.button {
  display: grid;  
}

.container {
  position: relative;
  margin: 50px;
  grid-gap: 10%;
}

.button {
  background: var(--color-gray);
  width: 130px;
  height: 20px;
  border-radius: 3%;
  box-shadow: 2px 2px 5px var(--color-dark-gray);
  justify-content: center;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 10px;
}

.like,
.subscribe {
}

.like {
  grid-template-columns: 20px 1fr;  
  animation: like 6s forwards;
}

.comment {
  animation: comment 6s forwards; 
}

.subscribe {
  position: relative;
  z-index: 10;
  animation: subscribe 6s forwards; 
}

.button img {
  height: 20px;
  width: auto;
}

.button span {
  text-align: center;
}

.bell-icon {
  position: absolute;
  right: 0;
  z-index: 0;
}

@keyframes moveCursor {
  0% {
    top: -1000px;
    left: -1000px;
  }

  /* Move to Leave a like */
  10% {
    top: 20px;
    left: 50px; 
    transform: scale(1);
  }

  /* Click leave a like*/
  12% {
    transform: scale(0.5);
  }

  14% {
    top: 20px;
    transform: scale(1);
  }

  /* Move to Comment */
  20% {
    top: 60px;
    left: 70px;
    transform: scale(1);
  }
  
  /* Click Comment */
  22% {
    transform: scale(0.5);
  }

  24% {
    transform: scale(1);
  }

  /* Move to subscribe */
  30% {
    top: 120px;
    left: 50px;
    transform: scale(1);  
  }

  /* Click subscribe*/
  32% {
    transform: scale(0.8);
  }

  34% {
    transform: scale(1);
  }

  /* Move to Bell*/
  40% {
    top: 125px;
    left: 165px;
    transform: scale(1);
  }

  /* Click Bell*/
  42% {
    transform: scale(0.8);
  }

  44% {
    transform: scale(1);
  }

  45% {
    top: 125px;
    left: 165px;
  }

  /* Move off screen*/
  55% {
    top: 200px;
  }

  60% {
    left: -200px;
  }

  70% {
    top: 200px;
    left: -200px;
  }
}

@keyframes like {
  0% {
    background-color: var(--color-gray);
    color: var(--color-dark-gray);
  }

  10% {
    background-color: var(--color-gray);
    color: var(--color-dark-gray);
    transform: scale(1);
  }

  12% {
    background-color: var(--color-blue);
    color: var(--color-white);
    transform: scale(1.2);
  }

  14% {
    transform: scale(1);
  }

  100% {
    background-color: var(--color-blue);
    color: var(--color-white);
  }
}

@keyframes likeIcon {
  0% {
    background-color: var(--color-dark-gray);
  }

  10% {
    background-color: var(--color-dark-gray);
  }

  11% {
    background-color: var(--color-white);
  }

  12% {
    transform: rotate(0deg);    
  }

  14% {
    transform: rotate(15deg);
  }

  16% {
    background-color: var(--color-white);
  }

  18% {
    transform: rotate(-15deg);
  }

  20% {
    transform: rotate(0deg);
  }

  100% {
    background-color: var(--color-white);
  }
}

@keyframes comment {
  0% {
    background-color: var(--color-gray);
    color: var(--color-dark-gray);
  }

  20% {
    background-color: var(--color-gray);
    color: var(--color-dark-gray);
    transform: scale(1);
  }

  22% {
    background-color: var(--color-blue);
    color: var(--color-white);
    transform: scale(0.8);
  }

  24% {
    transform: scale(1);
  }

  100% {
    background-color: var(--color-blue);
    color: var(--color-white);
  }
}

@keyframes subscribe {
  0% {
    background-color: var(--color-gray);
    color: var(--color-dark-gray);
  }

  30% {
    background-color: var(--color-gray);
    color: var(--color-dark-gray);
    transform: scale(1);
  }

  32% {
    background-color: var(--color-red);
    color: var(--color-white);
    transform: scale(0.8);
  }

  34% {
    transform: scale(1);
  }

  100% {
    background-color: var(--color-red);
    color: var(--color-white);
  }
}

@keyframes bellIcon {
  0% {
    width: 0px
  }

  30%{
    width: 0px;
    right: 0px;
  }

  34% {
    width: 25px;
    right: -35px;
  }

  40% {
    transform: rotate(0deg) scale(1);
  }

  42% {
    transform: rotate(15deg) scale(1.2);
  }

  44% {
    transform: rotate(-15deg) scale(1.2);
  }

  46% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    width: 25px;
    right: -35px;
  }
}